.card {
    margin: 0 auto; /* Added */
    float: none; /* Added */
    margin-bottom: 10px; /* Added */
}
.col-md-6 {
    margin: 0 700px; /* Added */
    float: none; /* Added */
    margin-bottom: 10px; /* Added */
}