<nav class="navbar navbar-light bg-light">
    <div class="container-fluid">
      <span class="navbar-brand mb-0 h1">Navbar</span>
    </div>
  </nav>


<div class="card mt-5" style="max-width: 540px;" *ngFor="let item of products | paginate: { itemsPerPage: 6, currentPage: page, totalItems: totalItems }">
    <div class="row g-0" >
      <div class="col-md-4">
        <img src="..." class="img-fluid rounded-start" alt="...">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title">{{item.name}}</h5>
          <h5 class="card-text">{{item.category.name}}</h5>
          <p class="card-text">{{item.description}}</p>
          <p class="card-text" *ngFor="let items of item.prices"><b class="text-muted">{{items.size}} R({{items.retail}})</b></p>
        </div>
      </div>
    </div>
</div>
<div class="w-100 p-1">
    <pagination-controls (pageChange)="pageChangeEvent($event)"></pagination-controls>
</div>